<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	{{ template "common-head" . }}
  <title>我要罷免{{.Legislator.PoliticianName}} - {{.Legislator.ConstituencyName}}</title>
  <meta name="description" property="og:description" content="我是{{.Legislator.ConstituencyName}}選民，我要罷免{{.Legislator.PoliticianName}}！">
  <link rel="stylesheet" href="{{.BaseURL}}/assets/css/preview.css?v0.0.14">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js" defer></script>
</head>
<body>
  <div class="banner">
		<div class="section nav">
			<a class="goback" href="{{.BaseURL}}"><div class="icon-goback"></div><div style="color:#ffffff;">罷免其他立委</div></a>
			<div class="nav-qrcode"><i class="icon-qrcode-reverse"></i></div>
		</div>
		<div class="section">
    	<h1 class="fill-form-topic">我是{{.Legislator.ConstituencyName}}選民<br>我要罷免<span class="primary">『{{.Legislator.PoliticianName}}』</span></h1>
			<div class="recall-stage-flow">
				<h4 class="recall-stage {{if eq .Legislator.RecallStage 1}}active{{end}}"><span>第 1 階段</span>連署罷免</h4>
				<span class="icon-step-arrow"></span>
				<h4 class="recall-stage {{if eq .Legislator.RecallStage 2}}active{{end}}"><span>第 2 階段</span>連署罷免</h4>
				<span class="icon-step-arrow"></span>
				<h4 class="recall-stage {{if eq .Legislator.RecallStage 3}}active{{end}}"><span>第 3 階段</span>罷免投票</h4>
			</div>
		</div>
  </div>
	<div class="section fill-form">
		<div class="fill-form-header">
			<h2>拿出『身分證』對照填寫，<br>製作連署書並印出</h2>
			<div class="fill-form-notification">本網站不會保存您的個人資料，填寫資訊經加密處理且僅用於一次性生成連署書下載，請安心填寫。詳情請見<a href="#footer">服務政策與聲明</a>。</div>
		</div>
		<div class="recall-form">
  		<div class="form-group">
  		  <label for="name">姓名</label>
				<div class="input-group">
  		  	<input name="name" required>
				</div>
  		</div>
  		<div class="form-group">
  		  <label for="id-number">身分證字號</label>
				<div class="input-group">
  		  	<input name="id-number" required>
  			</div>
  		</div>
  		<div class="form-group birth-date">
  		  <label>民國出生年月日</label>
				<div class="input-group">
					<input name="birth-year" max="94" style="text-align:center;" required> 年
					<input name="birth-month" min="1" style="text-align:center;" max="12" required> 月
					<input name="birth-day" min="1" style="text-align:center;" max="31" required> 日
				</div>
  		</div>
  		<div class="form-group">
  		  <label for="address">戶籍地址</label>
				<div class="input-group">
  		  	<textarea class="input-address" name="address" required>{{.Address}}</textarea>
  			</div>
				<div class="form-comment">請完全按照您國民身分證上<strong>住址</strong>欄位，<strong>完全對照填寫</strong></div>
  		</div>
  		<div class="form-group">
				<div class="input-group">
					{{- if .Legislator.FormDeployed}}
  				<button class="btn-primary lg w100" id="submit-btn" style="margin-bottom:-16px;">製作第 {{.Legislator.RecallStage}} 階段連署書</button>
					{{- else}}
  				<button class="btn-primary lg w100" style="margin-bottom:-16px;" disabled>{{.Legislator.RecallStage}} 階準備中</button>
					{{- end}}
  			</div>
  		</div>
  		<div class="form-group">
				<div class="input-group">
					<button type="button" class="btn-secondary lg w100" onclick="copyCurrentLink();">分享出去！邀請更多人參與</button>
					<div class="show-qrcode"><a class="hyperlink-style"><i class="icon-qrcode"></i>取得本網頁 QR 碼</a></div>
  			</div>
  		</div>
		</div>
	</div>

	{{ template "faq" . }}
	{{ template "footer" }}
	{{ template "dialog" . }}
	{{ template "mask" }}
	<div id="popout" class="hidden">已複製到剪貼簿</div>
	<div class="browser-warning-container" id="browser-warning-container">
		<div class="browser-waring-title">
			您使用的瀏覽器無法下載連署書
		</div>
		<div class="browser-warning-content">
			您正以通訊軟體瀏覽器開啟本網站，該瀏覽器無法將你填完的罷免連署書下載至您的裝置。請於右上或右下功能按鈕，點選「以預設 (外部) 瀏覽器開啟」，或<a class="hyperlink-style" onclick="copyCurrentLink()">複製連結<div class="copy-icon"></div></a>後至其他瀏覽器開啟。
		</div>
	</div>

	<div class="preview-mask">
		{{ template "preview-control-panel" . }}
		<div class="a4-landscape">
			<div class="img-container">
				<img src="{{.BaseURL}}/assets/images/stage-2-{{.Legislator.PoliticianName}}.png">
			</div>
			<div class="inputField center md" id="preview-name" style="left:22.4%; top:30.2%; letter-spacing:0.73em"></div>
			<div class="inputField center md" id="preview-nidc" style="left:22.4%; top:34.4%; letter-spacing:0.72em"></div>
			<div class="inputField center sm" id="preview-birth-date" style="left:38.6%; top:33%; letter-spacing:0.02em"></div>
			<div class="inputField center xsm" id="preview-address" style="left:61.4%; top:21.7%; width:32.8%; height:25%;"></div>
			<div class="whereToSign" style="left:82.6%; top:34.2%; width:7.6%; height:7.4%;"></div>
		</div>
	</div>

	<script>
		const submitButton = document.getElementById("submit-btn");
		const inputName = document.querySelector("input[name='name']");
		const inputNidc = document.querySelector("input[name='id-number']");
		const inputBirthYear = document.querySelector("input[name='birth-year']");
		const inputBirthMonth = document.querySelector("input[name='birth-month']");
		const inputBirthDay = document.querySelector("input[name='birth-day']");
		const inputAddress = document.querySelector("textarea[name='address']");

		const previewMask = document.querySelector(".preview-mask");

		document.addEventListener("DOMContentLoaded", () => {
			dialog.querySelector("h3").innerHTML = "我是{{.Legislator.ConstituencyName}}選民<br>我要罷免『{{.Legislator.PoliticianName}}』";
			dialog.querySelector(".content").innerHTML = `
				<div class="dialog-qrcode" id="qrcode-container">
					<div class="qrcode"></div>
					<div class="qr-logo"></div>
				</div>
				<div class="dialog-footer">
					<p>您可以下載 QR 碼圖檔，印出張貼在合適的宣傳地點，幫助更多民眾進行連署</p>
					<div class="dialog-action">
						<button class="btn-primary lg w100 flex-center"><i class="icon-download"></i>下載 QR 碼圖檔</button>
					</div>
				</div>
			`;

			dialog.querySelector(".dialog-footer button").addEventListener("click", ( async () => {
				const url = window.location.origin + window.location.pathname;
				mask.classList.add('active');
				await new Promise(resolve => setTimeout(resolve, 10));
				await downloadQRCode(url);
				mask.classList.remove('active');
			}));

			document.querySelector(".nav-qrcode").addEventListener("click", (() => {
				mask.classList.add('active');
				const url = window.location.href;
				generateQRCode(url, 144);
				mask.classList.remove('active');
				showDialog();
			}));

			document.querySelector(".show-qrcode a").addEventListener("click", (() => {
				mask.classList.add('active');
				const url = window.location.origin + window.location.pathname;
				generateQRCode(url, 144);
				mask.classList.remove('active');
				showDialog();
			}));

			inputNidc.addEventListener("input", () => {
				inputNidc.setCustomValidity("");
			});

			submitButton.addEventListener("click", (event) => {
				inputNidc.setCustomValidity("");
				if (!isValidIdNumber(inputNidc.value)) {
					inputNidc.setCustomValidity("請輸入合法的身分證字號");

					inputNidc.focus();
					setTimeout(() => inputNidc.reportValidity(), 600);
				}

				const year = parseInt(inputBirthYear.value.trim(), 10);
				const month = parseInt(inputBirthMonth.value.trim(), 10);
				const day = parseInt(inputBirthDay.value.trim(), 10);

				if (!year || !month || !day || !isValidDate(year, month, day)) {
					alert("輸入的日期不合法，請重新檢查！");
					event.preventDefault();
					inputBirthDay.focus();
					return;
				}

				requestAnimationFrame(() => {
					showPreview();
				});
			});

			function showPreview() {
				document.getElementById("preview-name").textContent = inputName.value;
				document.getElementById("preview-nidc").textContent = inputNidc.value;
				document.getElementById("preview-birth-date").textContent = `${inputBirthYear.value} 年 ${inputBirthMonth.value} 月 ${inputBirthDay.value} 日`;
				document.getElementById("preview-address").textContent = inputAddress.textContent;

				previewMask.style.display = "flex";
				setTimeout(() => {
					previewMask.classList.add("show");
					previewMask.classList.remove("hide");
				}, 10);
			}

			function hidePreview() {
				previewMask.classList.add("hide");
				previewMask.classList.remove("show");

				setTimeout(() => {
					previewMask.style.display = "none";
					previewMask.classList.remove("hide");
				}, 310);
			}

			const userAgent = navigator.userAgent || navigator.vendor || window.opera;
			const isLine = userAgent.toLowerCase().includes("line");
			const isMessenger = userAgent.toLowerCase().includes("fbav") || userAgent.toLowerCase().includes("messenger");
			const isWhatsApp = userAgent.toLowerCase().includes("whatsapp");
			const isThreads = userAgent.toLowerCase().includes("barcelona");
			const isWeChat = userAgent.toLowerCase().includes("micromessenger");

			if (isLine || isMessenger || isWhatsApp || isThreads || isWeChat ) {
				const warningElement = document.getElementById("browser-warning-container");
				warningElement.style.display = "flex";
			}

		});
	</script>
</body>
</html>
