<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	{{ template "preview-head" . }}
</head>
<body>
	{{ template "mask" }}
	{{ template "preview-control-panel" . }}
	<div class="a4-landscape">
		<div class="a4-inner-container">
			<div class="img-container">
				<img src="{{.BaseURL}}/assets/images/stage-2-{{.PoliticianName}}.png" style="transform:rotate(0.1deg);">
			</div>
			<div class="inputField center md" id="preview-name" style="left:21.4%; top:26.3%; letter-spacing:0.2em"></div>
			<div class="inputField center md" id="preview-id-number" style="left:21.8%; top:30.9%; letter-spacing:0.71em"></div>
			<div class="inputField center sm whiteBg" id="preview-birth-date" style="text-align:right; left:38%; top:27.2%; width:11.5%; height:8%;"></div>
			<div class="inputField center addr-xsm whiteBg" id="preview-address" style="left:60.9%; top:27%; width:33.2%; height:8.2%; padding:4px;"></div>
			<div class="whereToSign" style="left:82.1%; top:31.1%; width:7.7%; height:7.3%;"></div>
		</div>
	</div>
	<script>
		const dateDelimiter = "";
	</script>
</body>
</html>
