<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	{{ template "preview-head" . }}
</head>
<body>
	{{ template "mask" }}
	{{ template "preview-control-panel" . }}
	<div class="a4-landscape">
		<div class="a4-inner-container">
			<div class="img-container">
				<img src="{{.BaseURL}}/assets/images/stage-2-{{.PoliticianName}}.png" style="transform:rotate(0.2deg);">
			</div>
			<div class="inputField center md" id="preview-name" style="left:22.1%; top:29.5%; letter-spacing:0.2em;"></div>
			<div class="inputField center md" id="preview-id-number" style="left:22.6%; top:34%; letter-spacing:0.71em;"></div>
			<div class="inputField center sm" id="preview-birth-date" style="left:38.8%; top:32.8%; letter-spacing:0.02em;"></div>
			<div class="inputField center addr-xsm" id="preview-address" style="left:61.6%; top:21.5%; width:32.8%; height:25%;"></div>
			<div class="whereToSign" style="left:82.8%; top:34.1%; width:7.6%; height:7.4%;"></div>
		</div>
	</div>
	<script>
		const dateDelimiter = "";
	</script>
</body>
</html>
